In [2]:
import pandas as pd
import numpy as np

In [6]:
df1=pd.read_csv("C:\\Users\\nohem\\OneDrive\\Escritorio\\mineria\\Inflacion México.csv") 
df1

      Año  Porcentaje
0    1920        5.00
1    1921       -8.84
2    1922      -16.17
3    1923        7.42
4    1924       -4.42
..    ...         ...
96   2016        3.36
97   2017        6.77
98   2018        4.83
99   2019        2.83
100  2020        3.15

[101 rows x 2 columns]

In [7]:
df1.shape

(101, 2)

In [8]:
df1.columns

Index(['Año', 'Porcentaje'], dtype='object')

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         101 non-null    int64
 1   Porcentaje  101 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB

### - No es necesario hacer limpieza, ya que los datos estan correctoy y ninguna celda esta vacia.

In [9]:
df1.describe()

               Año  Porcentaje
count   101.000000  101.000000
mean   1970.000000   13.262376
std      29.300171   24.578549
min    1920.000000  -16.170000
25%    1945.000000    2.770000
50%    1970.000000    5.200000
75%    1995.000000   16.370000
max    2020.000000  159.170000